<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="src/css/grid.css" />
    <link rel="stylesheet" href="src/css/login.css" />
    <link rel="stylesheet" href="src/css/specific.css" />
    <link rel="stylesheet" href="src/css/sideMenu.css" />
    <script src="src/js/vue.js"></script>
    <script src="src/js/vuex.js"></script>
    <title>Laviup</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <header>
                <nav class="nav-in" v-if="logged_in === true">
                    <div class="logo" @click="side_menu = ! side_menu">
                        <img src="icons/logo.svg" alt="logo" />
                    </div>
                    <!-- se que no es la mejor solucion -->
                    <div class="pill-cont">
                        <div class="pill">
                            <div class="pill1">
                                <a href="#">Tienda</a>
                            </div>
                            <div class="line"></div>
                            <div class="pill2">
                                <a href="#">Mi perfil</a>
                            </div>
                        </div>
                    </div>
                    <div class="icons">
                        <a href="#" class="i-1">
                            <img src="icons/e-lupa.svg" alt="lupa" />
                        </a>
                        <a href="#" class="i-2">
                            <img src="icons/e-com-b.svg" alt="com" />
                        </a>
                        <a href="#" class="i-3">
                            <img src="icons/e-cart.svg" alt="cart" />
                        </a>
                        <a href="#" class="i-4">
                            <img src="icons/e-bell.svg" alt="bell" />
                        </a>
                    </div>
                </nav>
                <nav class="nav-out" v-if="logged_in===false">
                    <div class="logo" @click="side_menu = ! side_menu">
                        <img src="icons/logo.svg" alt="logo" />
                    </div>
                    <div class="corner">
                        <div class="inp-search">
                            <input type="text" placeholder="Buscar..." />
                            <div class="search-img">
                                <a>
                                    <img src="icons/e-lupa.svg" alt="" />
                                </a>
                            </div>
                        </div>

                        <div class="login-btn">
                            <input type="button" value="Iniciar Sesión" @click="login_form = true" />
                        </div>
                    </div>
                </nav>
            </header>
            <br />
            <div class="wrapper">
                <div class="left-side">
                    <a href="#" v-for="x in marks" onclick="enlarge()">
                    <div class="mark" >
                            <div class="pic">
                                <img :src="x.img" alt="foto" />
                            </div>
                    </div>
                </a>
                </div>
                <div class="center-side">
                   
                        <div class="card" v-for="x in cards">
                            <div class="top">
                                <div class="avatar">
                                    <img :src="x.avatar" alt="" />
                                </div>
                                <div class="info">
                                    <p class="name">{{x.name}}</p>
                                    <p class="city">{{x.city}}</p>
                                </div>
                                <button class="opt" @click="opt_menu=!opt_menu">
                                    <img src="icons/dots.png" alt="">
                            </button>
                                <!-- <a href="#" class="opt" @click="opt_menu=!opt_menu">
                                    <img src="icons/dots.png" alt="">
                                </a> -->
                            </div>
                            <div class="post-pic">
                                <div class="opt-menu" v-if="opt_menu">
                                    <div class="log">
                                        <a href="#">
                                            <p>Activar notificaciones</p>
                                        </a>
                                    </div>
                                    <div class="log">
                                        <a href="#">
                                            <p>Compartir</p>
                                        </a>
                                    </div>
                                    <div class="log">
                                        <a href="#">
                                            <p>Copiar enlace</p>
                                        </a>
                                    </div>
                                    <div class="log">
                                        <a href="#">
                                            <p>Silenciar</p>
                                        </a>
                                    </div>
                                    <div class="log">
                                        <a href="#">
                                            <p>Reportar</p>
                                        </a>
                                    </div>

                                </div>
                                <img :src="x.ppic" alt="" />
                            </div>
                            <div class="bottom">
                                <div class="btn">
                                    <div class="com-btn">
                                        <button>
                                            <img src="icons/e-com.svg" alt="lupa" />
                                        </button>
                                    </div>
                                    <div class="like-btn">
                                        <button>
                                            <img src="icons/e-heart.svg" alt="lupa" />
                                        </button>
                                    </div>
                                </div>
                                <p class="post">
                                    {{x.post}}
                                </p>
                                <div class="comment">
                                    <div class="comment-pic">
                                        <img :src="x.cpic" alt="" />
                                    </div>
                                    <div class="comment-text">
                                        <p class="com-user">{{x.cuser}}</p>
                                        <p class="com-com">{{x.ccom}}</p>
                                        <p class="com-number">Ver los {{x.cnum}} comentarios</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                 
                    </div>

                <div class="right-side">
                    <div class="destacados">
                        <h3>Destacados</h3>
                        <div class="pics ">
                            <div class="f1">
                                <img src="img/1round.png" alt="round picture" />
                            </div>
                            <div class="f2">
                                <img src="img/2round.png" alt="round picture" />
                            </div>
                            <div class="f3">
                                <img src="img/3round.png" alt="round picture" />
                            </div>
                            <div class="f4">
                                <img src="img/4round.png" alt="round picture" />
                            </div>
                            <div class="f5">
                                <img src="img/5round.png" alt="round picture" />
                            </div>
                        </div>
                    </div>
                    <div class="marcas">
                        <h3>Marcas</h3>
                        <div class="roll">
                            <a href="#">
                                <div class="marca">
                                    <img src="img/apple-pic.png" alt="apple icon" />
                                    <p>Apple</p>
                                </div>
                            </a>
                            <a href="#">
                                <div class="marca">
                                    <img src="img/apple-pic.png" alt="apple icon" />
                                    <p>Apple</p>
                                </div>
                            </a>
                            <a href="#">
                                <div class="marca">
                                    <img src="img/apple-pic.png" alt="apple icon" />
                                    <p>Apple</p>
                                </div>
                            </a>
                            <a href="#">
                                <div class="marca">
                                    <img src="img/apple-pic.png" alt="apple icon" />
                                    <p>Apple</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="add">
                <!-- <div class="plus"> -->
                <img src="icons/plus.svg" alt="plus" />

                <!-- </div> -->
                <div class="add-text">Añadir</div>
            </button>
        </div>
        <!-- <login-form v-if="login_form"></login-form> -->
        <div class="cont-login" v-if="login_form">
            <div class="login-cont">
                <form class="form">
                    <div class="logo2">
                        <img src="icons/logo.svg" alt="logo">
                    </div>
                    <div class="inputs">
                        <input type="text" name="username" id="username" class="username"
                            placeholder="Télefono o correo electrónico">
                        <input type="password" name="password" id="password" class="password" placeholder="Contraseña">
                        <a href="#">He olvidado mi contraseña</a>
                        <input type="button" value="Iniciar" class="login"
                            @click="logged_in = true, login_form = false">
                    </div>
                    <div class="social">
                        <div class="social-line">
                            <div class="s-l-1"></div>
                            <p>O</p>
                            <div class="s-l-2"></div>
                        </div>
                        <div class="social-icons">
                            <img src="icons/face.svg" alt="face-icon" class="face-i">
                            <img src="icons/go.svg" alt="go-icon" class="go-i">
                        </div>
                    </div>
                </form>
                <div class="sign-up">
                    <p>¿Aún no eres de la familia?</p>
                    <a href="·">Registrate</a>
                </div>
            </div>
        </div>
        <div class="side-menu" v-if="side_menu" onmouseleave="hide('side_menu')" id="side_menu">
            <div class="white-logo">
                <img src="icons/logo2.svg" alt="" style="filter: saturate();">
            </div>
            <div class="options" v-if="logged_in">
                <div class="log">
                    <a href="#">
                      <p>Tienda</p><span>></span>
                    </a>
                    </div>
                <div class="log">
                    <a href="#">
                      <p>Mi perfil</p><span>></span>
                    </a>
                    </div>
                <div class="log">
                    <a href="#">
                      <p>Chat</p><span>></span>
                    </a>
                    </div>
                <div class="log">
                    <a href="#">
                      <p>Carrito</p><span>></span>
                    </a>
                    </div>
                    <div class="log">
                        <a href="#">
                          <p>Quiénes somos</p><span>></span>
                        </a>
                        </div>
                    <div class="log">
                        <a href="#">
                        <p>Configuración y Privaidad</p><span>></span>
                    </a>
                    </div>
                    <div class="log"> 
                        <a href="#">
                        <p>Contáctanos</p><span>></span>
                    </a>
                    </div>
                    <div class="log">
                        <a href="#">
                        <p>Ayudanos</p><span>></span>
                    </a>
                    </div>
                    </div>

                    <div class="options" v-if="!logged_in">
                <div class="log">
                    <a href="#">
                      <p>Quiénes somos</p><span>></span>
                    </a>
                    </div>
                <div class="log">
                    <a href="#">
                    <p>Configuración y Privaidad</p><span>></span>
                </a>
                </div>
                <div class="log"> 
                    <a href="#">
                    <p>Contáctanos</p><span>></span>
                </a>
                </div>
                <div class="log">
                    <a href="#">
                    <p>Ayudanos</p><span>></span>
                </a>
                </div>
              </div>
                
               
                
            <div class="social-net">
                <div class="net" v-for="x in nets">
                    <img :src="x.img" alt="" class="net-img">
                    <a :href="x.link" class="net-link">{{x.link}}</a>
                </div>
            </div>
            <button class="side-logout">Cerrar Sesión</button>
        </div>
    </div>
    <script src="src/js/main.js"></script>
    <script src="src/js/script.js"></script>
    <!-- <script src="src/components/components.js"></script> -->
</body>

</html>