header {
  grid-area: header;
}
.wrapper {
  grid-area: wrapp;
}
.logo {
  grid-area: logo;
}
.pill-cont {
  grid-area: pill;
}
.icons {
  grid-area: icons;
}
.corner {
  grid-area: corner;
}
.i-1 {
  grid-area: i1;
}
.i-2 {
  grid-area: i2;
}
.i-3 {
  grid-area: i3;
}
.i-4 {
  grid-area: i4;
}
.left-side {
  grid-area: leftt;
}
.center-side {
  grid-area: centerr;
}
.right-side {
  grid-area: rightt;
}
.destacados {
  grid-area: dests;
}
.marcas {
  grid-area: marcs;
}
.card .top {
  grid-area: topp;
}
.card .post-pic {
  grid-area: ppic;
}
.card .bottom {
  grid-area: bottomm;
}

.card .top .avatar {
  grid-area: avatar;
}
.card .top .info {
  grid-area: info;
}
.card .top .opt {
  grid-area: optt;
}

/* areas-name - */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% 90%;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  margin: 0 auto;

  grid-template-areas:
    "header header header "
    "wrapp wrapp wrapp "; 
  }
.nav-in {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  max-height: 100px;
  /* min-height: 400px; */
  grid-template-areas:
    "logo .  icons "
    "logo .  icons "
    "logo  pill  icons "
    "logo  pill  icons "
    "logo  pill  icons "
    "logo  pill  icons "
    "logo  .   icons "
    "logo  .   icons ";
}
.nav-out {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  max-height: 100px;
  grid-template-areas:
    "logo .  ."
    "logo .  ."
    "logo .  ."
    "logo corner  corner"
    "logo corner  corner"
    "logo corner  corner"
    "logo .  ."
    "logo  .   ."
    "logo  .   .";
}
.icons {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas: ". . . . . i1 i2 i3 i4 .";
  align-items: center;
  justify-items: center;
}
.wrapper {
  display: grid;
  grid-template-columns: 1.7fr 8fr;
  grid-auto-rows: minmax(16.6%, auto);
  /* grid-auto-rows: minmax(100px, auto); */
  max-width: auto;
  min-width: 100%;
  /* height: 100%; */
  margin: 0 auto;
  grid-template-areas:
    "leftt rightt  "
    "leftt rightt "
    "leftt centerr  "
    "leftt centerr  "
    "leftt centerr  "
    "leftt centerr  ";
}
.right-side {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:minmax(50%, auto) minmax(55%, auto) ;
  /* grid-auto-rows: minmax(50%, auto); */
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  grid-template-areas:
    "dests "
    "marcs ";
}
.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 8fr 2fr;
  /* grid-auto-rows: 1fr 8fr 2fr; */
  grid-template-areas:
    "topp"
    "ppic"
    "bottomm";
}
.card .top {
  display: grid;
  grid-template-columns: 1fr 3fr 10fr  1fr;
  grid-template-areas: ". avatar info  optt ";
  height: 100%;
}
/* @media screen and (max-width: 376px) {
  .wrapper {
    grid-template-columns: 2fr 6fr 3fr;

    grid-template-areas:
      "leftt rightt rightt "
      "leftt rightt rightt "
      "leftt centerr centerr "
      "leftt centerr centerr "
      "leftt centerr centerr ";
  }
} */
@media all and (min-width: 376px) {
}
@media all and (min-width: 480px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1.5fr 8fr;
    grid-auto-rows: minmax(16.6%, auto);
    /* grid-auto-rows: minmax(100px, auto); */
    max-width: auto;
    min-width: 100%;
    /* height: 100%; */
    margin: 0 auto;
    grid-template-areas:
      "leftt rightt  "
      "leftt rightt "
      "leftt centerr  "
      "leftt centerr  "
      "leftt centerr  "
      "leftt centerr  ";
  }
}
@media all and (min-width: 550px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1.2fr 8fr;
    grid-auto-rows: minmax(16.6%, auto);
    /* grid-auto-rows: minmax(100px, auto); */
    max-width: auto;
    min-width: 100%;
    /* height: 100%; */
    margin: 0 auto;
    grid-template-areas:
      "leftt rightt  "
      "leftt rightt "
      "leftt centerr  "
      "leftt centerr  "
      "leftt centerr  "
      "leftt centerr  ";
  }
}
@media all and (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1.2fr 8fr 2.5fr;
    max-width: 100%;
    min-width: 100%;

    grid-template-areas:
      "leftt centerr rightt "
      "leftt centerr rightt "
      "leftt centerr rightt "
      "leftt centerr rightt "
      "leftt centerr rightt ";
  }
  .right-side {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:minmax(60%, auto) minmax(40%, auto) ;
    /* grid-auto-rows: minmax(50%, auto); */
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    grid-template-areas:
      "dests "
      "marcs ";
  }
}
@media all and (min-width: 1024px) {
  .right-side {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:minmax(70%, auto) minmax(30%, auto) ;
    /* grid-auto-rows: minmax(50%, auto); */
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    grid-template-areas:
      "dests "
      "marcs ";
  }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 8fr 2.5fr;
    max-width: 100%;
    min-width: 100%;

    grid-template-areas:
      "leftt centerr rightt "
      "leftt centerr rightt "
      "leftt centerr rightt "
      "leftt centerr rightt "
      "leftt centerr rightt ";
  }
}
@media all and (min-width: 1200px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1.5fr 8fr 6fr;
    max-width: 100%;
    min-width: 100%;

    grid-template-areas:
      "leftt centerr rightt "
      "leftt centerr rightt "
      "leftt centerr rightt "
      "leftt centerr rightt "
      "leftt centerr rightt ";
  }
}
@media all and (min-width: 1530px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 8fr 6fr;
    max-width: 100%;
    min-width: 100%;

    grid-template-areas:
      "leftt centerr rightt "
      "leftt centerr rightt "
      "leftt centerr rightt "
      "leftt centerr rightt "
      "leftt centerr rightt ";
  }
} 
@media all and (min-width: 1920px) {
  .wrapper {
    display: grid;
    grid-template-columns: 0.8fr 8fr 6fr;
    max-width: 100%;
    min-width: 100%;

    grid-template-areas:
      "leftt centerr rightt "
      "leftt centerr rightt "
      "leftt centerr rightt "
      "leftt centerr rightt "
      "leftt centerr rightt ";
  }
}

/* @media all and (max-width: 1140px) {} */
/* .app,
.container,
.nav-in,
.nav-out,
.wrapper,
.left-side,
.center-side,
.left,
.right,
.right-side,
.destacados,
.marcas,
header,
nav {
  border: 1px solid red;
  overflow: hidden;
} */
/* .center-side, .card, .card >div{
  border: 1px solid red;
} */